$gray: #ced4da;
$white: white;
$background: #f8f9fa;
$black: black;
$green: #02ff7f;

body {
    font-family: "GT Walsheim Pro";
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    margin-bottom: 0px;
}

p {
    color: $gray;
    font-weight: 300;
    margin-bottom: 5px;
}

.logo {
    max-width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: fixed;
    bottom: 0;
    opacity: 0.02;
}

.manage,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url(https://static.skuflic.com/api/background.jpeg);
    background-size: cover;
    background-position: left;
    // background-size: contain;
    // background-position: center;
    margin-bottom: -2px;
    // background-repeat: no-repeat;
    // background-color: black;
}

.legal {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    opacity: 0.5;
    color: $gray;
    padding-right: 20px;

    a {
        font-weight: 300;
        color: $gray;
        text-decoration: none;
        border-right: 1px solid $gray;
        margin-right: 5px;
        padding-right: 8px;

        &:last-child {
            border: none;
            margin: 0;
            padding: 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.bg-light::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://static.skuflic.com/images/branding/logo/dark.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    opacity: 0.02;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    a {
        color: $black;
        font-weight: 300;
        margin-bottom: 5px;
        &:hover {
            color: $green;
        }
    }
}

code {
    color: $gray;
    border: 1px solid $gray;
    border-radius: 4px;
    padding: 3px;
    margin: 10px 0px 10px 0px;
    user-select: none;
    &:hover {
        border: 1px solid $green;
        color: $green;
    }
}

#custom-routes {
    margin-top: 35px;
    code {
        margin: 10px 3px 10px 5px;
    }
}

.resources {
    div {
        display: inline-block;
    }
    margin-bottom: 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .ml-3,
    .mx-3 {
        margin-left: 0px !important;
    }
}
